<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/orders" label="BACK"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Detail</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
    <ion-item lines="none">
      
        <h2>Order Id # 34343434</h2>
        <p>On Dec 6,2019, 3:06 PM</p>
      
      <ion-badge color="primary" style="height: 20px!important; width: 85px">
        Pending
      </ion-badge>
    </ion-item>
  </ion-card>
  <section class="ion-padding">
    <ion-button disabled="true">Cancel Order</ion-button>
    <ion-button >Cancel Order</ion-button>
  </section>
</ion-content>
