<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart-sharp"></ion-icon>
        <label>cart</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="primary" slot="end" style="height: 20px!important; width: 85px">
          Pending
        </ion-badge>
      </ion-item>
    </ion-card>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="warning" slot="end" style="height: 20px!important; width: 85px">
          Delivering
        </ion-badge>
      </ion-item>
    </ion-card>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="success" slot="end" style="height: 20px!important; width: 85px">
          Delivered
        </ion-badge>
      </ion-item>
    </ion-card>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="primary" slot="end" style="height: 20px!important; width: 85px;">
          Pending
        </ion-badge>
      </ion-item>
    </ion-card>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="warning" slot="end" style="height: 20px!important; width: 85px">
          Delivering
        </ion-badge>
      </ion-item>
    </ion-card>
    <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
      <ion-item lines="none" routerLink="/tabs/order-detail">
        <ion-label>
          <h3><strong>Order Id # 34343434</strong></h3>
          <p>Order Time = 23:45 6/11/12</p>
          <h3>Payment Type</h3>
          <ion-text>Total $10.00</ion-text>
        </ion-label>
        <ion-badge color="success" slot="end" style="height: 20px!important; width: 85px">
          Delivered
        </ion-badge>
      </ion-item>
    </ion-card>
</ion-content>
