<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" label="BACK"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title> 
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://cdn.pixabay.com/photo/2020/06/01/07/59/paris-5245585__340.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <h1>$10.00</h1>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://cdn.pixabay.com/photo/2020/05/02/04/16/face-5119820__340.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <h1>$10.00</h1>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://cdn.pixabay.com/photo/2019/01/26/10/24/eagle-3955951__340.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <h1>$10.00</h1>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://cdn.pixabay.com/photo/2020/10/12/19/18/lake-5649878__340.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <h1>$10.00</h1>
    </ion-item>
    
    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2020/11/12/16/58/worker-5736096__340.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
        <h1>$10.00</h1>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread()">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2020/07/29/08/33/coffee-5447420__340.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
        <h1>$10.00</h1>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread()">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item>
        <h1>Total</h1>
      <h1 slot="end">$60.00</h1>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" routerLink="/address">Checkout</ion-button>
    <ion-button expand="block" color="light" routerLink="/tabs/home">Continue Shopping</ion-button>
  </ion-toolbar>
</ion-footer>