<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <div class="test-class" id="profile-info" class="ion-padding">
      <img class="pop-in" id="profile-image" src="https://randomuser.me/api/portraits/men/18.jpg" alt="">
      <h3>Sohaib Kamran</h3>
      <p>sohaib.kamran.37@gmail.com</p>
      <ion-button routerLink="/sign-in">Logout</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-list-header>
        Account Information
      </ion-list-header>
      <ion-item routerLink="/category">
        <ion-label>
          User Name: Sohaib
        </ion-label>
      </ion-item>
      <ion-item routerLink="/category">
        <ion-label>
          Email: sohaib.kamran.37@gmail.com
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button routerLink="/tabs/store" color="primary" expand="block">Go to My Store</ion-button>

  
      <ion-list-header>
        Recent Orders
      </ion-list-header>
      <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
        <ion-item lines="none" routerLink="/tabs/order-detail">
          <ion-label>
            <h3><strong>Order Id # 34343434</strong></h3>
            <p>Order Time = 23:45 6/11/12</p>
            <h3>Payment Type</h3>
            <ion-text>Total $10.00</ion-text>
          </ion-label>
          <ion-badge color="warning" slot="end" style="height: 20px!important; width: 85px">
            Delivering
          </ion-badge>
        </ion-item>
      </ion-card>
      <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
        <ion-item lines="none" routerLink="/tabs/order-detail">
          <ion-label>
            <h3><strong>Order Id # 34343434</strong></h3>
            <p>Order Time = 23:45 6/11/12</p>
            <h3>Payment Type</h3>
            <ion-text>Total $10.00</ion-text>
          </ion-label>
          <ion-badge color="success" slot="end" style="height: 20px!important; width: 85px">
            Delivered
          </ion-badge>
        </ion-item>
      </ion-card>
</ion-content>
